<div class="container-fluid">
	<div class="jumbotron">
	  <h1 class="display-3">Video Statistics!</h1>
	  <p class="lead">By using YouTube's Data API v3, retrieve statistics of video.</p>
	  <hr class="my-4">
	  <%= form_tag root_path, remote: true, method: 'get', class: "navbar-form" %>
	  	<p><%= text_field_tag :url, params[:url], placeholder: "Enter url", class: "form-control input-xlarge" %></p>
	  <p class="lead">
	    <%= submit_tag "Search", name: nil, class: "btn btn-primary btn-lg" %>
	  </p>
	</div>
</div>

	<div class="row-fluid">
		<div class="panel-body">
			<div id="video_stast">
				<%= render 'video_statistics' %>
			</div>
		</div>
	</div>
</div>
